---
const experiences = [
    {
        time: 'Aug 2007 - Apr 2014',
        title: 'Bnet Technologies',
        job: 'Web designer',
        points: [
            'Make multiple e-commerce websites design and development them in front-end.',
            'Management of the fluidity and speed of the sites.',
            'Creation of business cards, Brochure & Roll-up.'
        ]
    },
    {
        time: 'May 2014 - Nov 2017',
        title: 'Kenzamall',
        job: 'UI developer',
        points: [
            'Interfaced with different departments (Marketing, Logistics...) to ensure thoughtful and coherent user experiences.',
            'Creation design of logos and e-commerce websites.',
            'Developed and maintained code for in-house and client websites.'
        ]
    },
    {
        time: 'Nov 2017 - Present',
        title: 'Elavi (Flyer.ma)',
        job: 'Front-end developer',
        points: [
            'Creation a multiple websites for a diverse clients and internal projects.',
            'Establishment of the front-end technical structure of the projects & ensure cross-browser compatibility and responsiveness.',
            'Communicate with back-end developers and clients on a daily basis.'
        ]
    }
];
---

<section id="experiences" class="bg-codgray-50 py-20 transition-colors dark:bg-codgray-900">
    <div class="mx-auto grid w-full max-w-none grid-cols-1 gap-6 p-12 lg:max-w-7xl lg:grid-cols-2 lg:gap-24 lg:py-20">
        <aside>
            <div class="static top-40 transition-colors dark:text-codgray-50 lg:sticky">
                <h2 class="title">Experiences</h2>

                <p class="text-pretty pb-5 text-justify">Here my experiences in 15 years with +40 projects that made in my career of development and design.</p>
                <p class="text-pretty pb-5 text-justify">
                    You can find more details by downloading
                    <a
                        href="/public/resumes/youssef-lahssini-cv-en.pdf"
                        download
                        class="font-bold text-trinidad-600 underline-offset-4 transition-colors hover:text-trinidad-700 hover:underline"
                    >
                        my resume
                    </a>
                    <small class="text-codgray-700 dark:text-codgray-500">(file size 1MB)</small>
                </p>
            </div>
        </aside>

        <ol>
            {experiences.map((experience) => (
                <li class="static top-40 mb-11 rounded border border-codgray-100 bg-white p-8 last-of-type:mb-0 dark:border-codgray-800 dark:bg-codgray-950 lg:sticky">
                    <header class="mb-6">
                        <small class="text-sm font-light text-codgray-300 dark:text-codgray-600">{experience.time}</small>
                        <h3 class="text-2xl font-bold uppercase text-trinidad-600">{experience.title}</h3>
                        <b class="text-lg font-light text-codgray-950 dark:text-white">{experience.job}</b>
                    </header>

                    <ul class="flex list-outside list-disc flex-col gap-3 pl-6 text-base tracking-wide text-codgray-500 transition-colors dark:text-codgray-50">
                        {experience.points.map((point) => (
                            <li>{point}</li>
                        ))}
                    </ul>
                </li>
            ))}
        </ol>
    </div>
</section>
