---
import PhPdfFile from '@components/icons/phPdfFile.astro';
import '@assets/styles/experiences.css';
---

<section id="experiences" class="experiences">
    <div class="experiences--container">
        <aside class="experiences--side">
            <div>
                <h2 class="title">Experiences</h2>

                <p>Here my experiences in 15 years with +40 projects that made in my career of development and design.</p>
                <p>For more details, you can download my CV by clicking the button in below:</p>
        
                <a href="/public/resumes/youssef-lahssini-cv-en.pdf" download class="resume">
                    <PhPdfFile class:list="size-6" />
                    <strong>Download my resume</strong>
                </a>
                <small class="block text-center">English version, file size 1 mb</small>
            </div>
        </aside>

        <ol>
            <li class="experiences--item">
                <header>
                    <small>Aug 2007 - Apr 2014</small>
                    <h3>Bnet Technologies</h3>
                    <b>Web designer</b>
                </header>
    
                <ul>
                    <li>Make multiple e-commerce websites design and development them in front-end.</li>
                    <li>Management of the fluidity and speed of the sites.</li>
                    <li>Creation of business cards, Brochure & Roll-up.</li>
                </ul>
            </li>
    
            <li class="experiences--item">
                <header>
                    <small>May 2014 - Nov 2017</small>
                    <h3>Kenzamall</h3>
                    <b>UI developer</b>
                </header>
    
                <ul>
                    <li>Interfaced with different departments (Marketing, Logistics...) to ensure thoughtful and coherent user experiences.</li>
                    <li>Creation design of logos and e-commerce websites.</li>
                    <li>Developed and maintained code for in-house and client websites.</li>
                </ul>
            </li>
    
            <li class="experiences--item">
                <header>
                    <small>Nov 2017 - Present</small>
                    <h3>Elavi (Flyer.ma)</h3>
                    <b>Front-end developer</b>
                </header>
    
                <ul>
                    <li>Creation a multiple websites for a diverse clients and internal projects.</li>
                    <li>Establishment of the front-end technical structure of the projects & ensure cross-browser compatibility and responsiveness.</li>
                    <li>Communicate with back-end developers and clients on a daily basis.</li>
                </ul>
            </li>
        </ol>
    </div>
</section>
