.locale {
    @apply flex items-center gap-2;
    
    a {
        @apply uppercase font-light transition-colors text-codgray-300 hover:text-trinidad-600;
        font-size: clamp(0.7rem, 0.2898rem + 0.7292vw, 0.875rem);

        &.__active {
            @apply text-codgray-950 font-bold hover:text-codgray-950;
        }
    }
}

.sky {
    @apply
    rounded-full
    w-9
    h-5
    p-0.5
    block
    bg-gradient-to-r
    overflow-hidden
    transition-colors
    border-codgray-950
    border-2
    bg-white
    relative
    dark:bg-codgray-950
    dark:border-white
}

.sphere {
    @apply
    rounded-full
    h-3
    w-3
    block
    relative
    border-codgray-950
    shadow-[0_0_0_2px_black_inset]
    dark:shadow-[0_0_0_4px_white_inset]
    translate-x-0
    transition-all
    ease-in-out
    duration-300
    bg-white
    dark:bg-codgray-950
    dark:translate-x-[calc(100%+4px)]
    dark:border-white
    before:block
    before:w-[0.7rem]
    before:h-[0.7rem]
    before:bg-codgray-950
    before:-translate-x-5
    before:-translate-y-5
    before:rounded-full
    before:absolute
    before:transition-all
    before:ease-in-out
    before:duration-200
    before:opacity-0
    dark:before:opacity-100
    dark:before:-translate-x-[0.1rem]
    dark:before:-translate-y-[0.1rem];
}

.cloud {
    @apply
    block
    absolute
    top-0
    left-0
    rounded-full
    bg-codgray-950
    w-4
    h-1.5
    transition-all
    ease-in-out
    duration-300
    before:block
    before:rounded-full
    before:w-2
    before:h-2
    before:bg-codgray-950
    before:translate-x-0.5
    before:-translate-y-1
    after:block
    after:bg-codgray-950
    after:rounded-full
    after:w-1.5
    after:h-1.5
    after:translate-x-2
    after:-translate-y-2.5
    dark:!translate-y-10
}

.star {
    @apply
    rounded-full
    bg-white
    bg-opacity-70
    block
    w-px
    h-px
    absolute
    top-0
    left-0
    translate-x-0
    translate-y-0
    transition-all
    ease-in-out
    duration-300
    opacity-0
    dark:opacity-95
}
