@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body, #__next {
    font-family: 'Cairo', Sans-serif;
    width: 100%;
    height: 100%;
}

.wrapper {
    @apply w-10/12 max-w-5xl;
}

.svg-icon {
    @apply inline-block align-middle transition-all fill-black hover:-translate-y-1;
}

.menu.swiper-pagination-vertical.swiper-pagination-bullets {
    @apply flex justify-between items-center gap-5 transform-none top-0 left-0;
}

.menu-item {
    @apply text-lg cursor-pointer transition-colors text-gray-800 hover:text-blue-500;
}

.menu-item.__current {
    @apply text-blue-500;
}

.swiper {
    @apply w-full h-full;
}

.swiper-slide {
    @apply text-center text-lg flex items-center justify-center;
}

.section-title {
    @apply text-4xl text-blue-500 font-bold uppercase flex items-center justify-start gap-5 mb-5 after:h-0.5 after:bg-black after:w-44 after:block;
}
