---
import PhHeartStraightLight from '@components/icons/phHeartStraightLight.astro';
---

<footer class="bg-codgray-50 px-12 py-10 text-codgray-950 transition-colors dark:bg-codgray-900 dark:text-white">
    <div class="mx-auto flex max-w-7xl items-center justify-between">
        <p>&copy; {new Date().getFullYear()} Youssef Lahssini</p>
        <p>Designed & coded with <PhHeartStraightLight class:list="inline-block align-top size-5 text-rose-700" /> by me.</p>
    </div>
</footer>
