---
import PhHeartStraightLight from '@components/icons/phHeartStraightLight.astro';
---

<footer class="flex items-center justify-between bg-codgray-50 px-20 py-10 text-codgray-950 transition-colors dark:bg-codgray-900 dark:text-white">
    <p>&copy; {new Date().getFullYear()} Youssef Lahssini</p>
    <p>Designed & coded with <PhHeartStraightLight class:list="inline-block align-top size-5 text-rose-700" /> by me.</p>
</footer>
