---
import PhHeartStraightLight from '@components/icons/phHeartStraightLight.astro';
---

<footer class="bg-codgray-50 px-6 py-10 text-codgray-950 transition-colors dark:bg-codgray-900 dark:text-white md:px-12">
    <div class="mx-auto flex max-w-7xl items-center justify-between gap-4 text-[clamp(0.9rem,0.88rem+0.1vw,1rem)]">
        <p>&copy; {new Date().getFullYear()} Youssef Lahssini</p>
        <p>Designed & coded with <PhHeartStraightLight class:list="inline-block align-top size-5 text-rose-700" /> by me.</p>
    </div>
</footer>
