---
---

<strong class="cursor-default text-4xl text-[clamp(1.5rem,-1.5rem+4.6875vw,2.25rem)] font-black tracking-tighter text-codgray-950 transition-colors dark:text-white">
    Y<span class="text-trinidad-600">.</span>L
</strong>
