---
---

<strong class="transition-colors text-4xl font-black text-codgray-950 text-[clamp(1.5rem,-1.5rem+4.6875vw,2.25rem)] dark:text-white cursor-default tracking-tighter">
    Y<span class="text-trinidad-600">.</span>L
</strong>
