---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

export const menu = [
    { text: 'Home', slide: 'home' },
    { text: 'About me', slide: 'about' },
    { text: 'Experiences', slide: 'experiences' },
    { text: 'Projects', slide: 'projects' },
    { text: 'Contact', slide: 'contact' },
];

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div id="menu" data-menu class="hidden gap-8 lg:flex lg:items-center lg:justify-between">
    {menu.map((item) => (
        <button
            type="button"
            data-slide={item.slide}
            class="text-[clamp(0.8125rem,-0.9375rem+2.7344vw,1.25rem)] font-extralight uppercase text-codgray-200 transition-colors hover:text-codgray-950 dark:text-codgray-700 dark:hover:text-white"
        >
            {t(`menu.${item.slide}`)}
        </button>
        <b class="text-codgray-950 transition-colors last:hidden dark:text-white">//</b>
    ))}
</div>

<script>
    const menuButtons = document.querySelectorAll('[data-slide]');
    const mobileMenu = document.querySelector('#menu__mobile');
    const menuMobileButton = document.querySelector('#menu__mobile__button');
    const slides = Array.from(
        new Set(
            Array.from(menuButtons)
                .map((menuButton) => document.getElementById(menuButton.getAttribute('data-slide') as string))
                .filter((menuButton) => !!menuButton)
            )
        );
    const slideIDS = slides.map((slide) => slide.getAttribute('id'));

    menuButtons.forEach((menuButton) => {
        menuButton.addEventListener('click', (event) => {
            menuButtons.forEach((item) => item.classList.remove('menu__active'));

            const element = event.target as HTMLButtonElement;
            const activeMenu = element?.getAttribute('data-slide') as string;
            const isMobile = element?.getAttribute('data-mobile') as string;

            if (isMobile && mobileMenu) {
                mobileMenu.classList.add('left-full');
                mobileMenu.classList.remove('left-0');

                menuMobileButton?.querySelector('span')?.classList.toggle('__clicked');
            }

            const slide = document.getElementById(activeMenu);

            if (slide) {
                slide?.scrollIntoView({ behavior: 'smooth' });
                menuButton.classList.add('menu__active');
            }
        });
    });

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            const id = entry.target.getAttribute('id');
            const targetedMenuItems = document.querySelectorAll(`[data-slide="${id}"]`);

            if (entry.isIntersecting) {
                const slideIntersectingIndex = slides.findIndex((slide) => slide.getAttribute('id') === id);
                const headerElement = document.querySelector('#header');

                if (slideIntersectingIndex % 2 === 1) {
                    headerElement?.classList.add('header__odd');
                } else {
                    headerElement?.classList.remove('header__odd');
                }
                
                slideIDS.forEach((slideID) => {
                    document.querySelectorAll(`[data-slide="${slideID}"]`).forEach((targetedMenuItem) => {
                        targetedMenuItem.classList.remove('menu__active');
                    });
                });

                targetedMenuItems.forEach((targetedMenuItem) => {
                    targetedMenuItem.classList.add('menu__active');
                });
            } else {
                targetedMenuItems.forEach((targetedMenuItem) => {
                    targetedMenuItem.classList.remove('menu__active');
                });
            }
        });
    }, {
        threshold: 0.5,
    });

    slides.forEach((slide) => {
        observer.observe(slide as HTMLElement);
    });
</script>
