---
import { Image } from 'astro:assets';
import ME from '@assets/images/me.webp';
import PhGithubLogoBold from '@components/icons/phGithubLogoBold.astro';
import PhCodepenLogo from '@components/icons/phCodepenLogo.astro';
import PhLinkedinLogoBold from '@components/icons/phLinkedinLogoBold.astro';
import PhXLogoBold from '@components/icons/phXLogoBold.astro';
import '@assets/styles/about.css';
---

<section id="about" class="grid h-screen place-items-center bg-white px-12 pt-20 transition-colors dark:bg-codgray-950">
    <div class="about__container grid max-w-7xl grid-flow-row items-end gap-20">
        <div class="about__text">
            <h2 class="title">About me</h2>

            <article class="pb-16">
                <p class="text-pretty pb-7 leading-relaxed tracking-widest text-codgray-500 dark:text-codgray-300">Hi! my name is Youssef Lahssini. I am a passionate Front-end developer who loves to  discover new technologies by creating demos to learn. My career starts back in 2007 when i was a web designer to become today a front-end developer.</p>
                <p class="text-pretty pb-7 leading-relaxed tracking-widest text-codgray-500 dark:text-codgray-300">Despite the years i have spent as a developer, i consider myself to be a beginner learning new technologies. But with experience, i acquired certain skills that i appreciated during my career.</p>
                <p class="text-pretty pb-7 leading-relaxed tracking-widest text-codgray-500 dark:text-codgray-300">I'm currently working at Elavi (Flyer.ma). My role is to lead my team and also architect and build client side projects.</p>
            </article>

            <nav class="flex items-center justify-between">
                <a href="https://github.com/ylahssini" target="_blank" class="external__link __github block text-center leading-none text-codgray-950 dark:text-white">
                    <PhGithubLogoBold role="img" class:list="transition-colors size-14 mx-auto mb-5" />
                    <strong class="block">Github</strong>
                    <small class="text-codgray-500">See my repositories</small>
                </a>

                <a href="https://codepen.io/collection/VYJOdz" target="_blank" class="external__link __codepen block text-center leading-none text-codgray-950 dark:text-white">
                    <PhCodepenLogo role="img" class:list="transition-colors size-14 mx-auto mb-5" />
                    <strong class="block">Codepen</strong>
                    <small class="text-codgray-500">See my pens</small>
                </a>

                <a href="https://x.com/ysfLahssini" target="_blank" class="external__link __twitter block text-center leading-none text-codgray-950 dark:text-white">
                    <PhXLogoBold role="img" class:list="transition-colors size-14 mx-auto mb-5" />
                    <strong class="block">X (Twitter)</strong>
                    <small class="text-codgray-500">See my posts</small>
                </a>

                <a href="https://www.linkedin.com/in/youssef-lahssini-05583a16" target="_blank" class="external__link __linkedin block text-center leading-none text-codgray-950 dark:text-white">
                    <PhLinkedinLogoBold role="img" class:list="transition-colors size-14 mx-auto mb-5" />
                    <strong class="block">Linkedin</strong>
                    <small class="text-codgray-500">See my profile</small>
                </a>
            </nav>
        </div>

        <figure class="about__image relative flex h-full max-h-[600px] justify-center overflow-hidden rounded">
            <Image src={ME} alt="Youssef Lahssini" class="absolute w-[890px] max-w-none transition-transform duration-300" />
        </figure>
    </div>
</section>
