---
import { Image } from 'astro:assets';
import ME from '@assets/images/me.webp';
import PhGithubLogoBold from '@components/icons/phGithubLogoBold.astro';
import PhCodepenLogo from '@components/icons/phCodepenLogo.astro';
import PhLinkedinLogoBold from '@components/icons/phLinkedinLogoBold.astro';
import PhTwitterLogoBold from '@components/icons/phTwitterLogoBold.astro'
import '@assets/styles/about.css'
---

<section id="about" class="about">
    <div class="about--container">
        <div class="about--text">
            <h2 class="title">About me</h2>

            <article class="pb-16">
                <p>Hi! my name is Youssef Lahssini. I am a passionate Front-end developer who loves to  discover new technologies by creating demos to learn. My career starts back in 2007 when i was a web designer to become today a front-end developer.</p>
                <p>Despite the years i have spent as a developer, i consider myself to be a beginner learning new technologies. But with experience, i acquired certain skills that i appreciated during my career.</p>
                <p>I'm currently working at Elavi (Flyer.ma). My role is to lead my team and also architect and build client side projects.</p>
            </article>

            <nav class="flex items-center justify-between">
                <a href="https://github.com/ylahssini" target="_blank" class="external-link __github">
                    <PhGithubLogoBold role="img" />
                    <strong>Github</strong>
                    <small>See my repositories</small>
                </a>

                <a href="https://codepen.io/collection/VYJOdz" target="_blank" class="external-link __codepen">
                    <PhCodepenLogo role="img" />
                    <strong>Codepen</strong>
                    <small>See my pens</small>
                </a>

                <a href="https://x.com/ysfLahssini" target="_blank" class="external-link __twitter">
                    <PhTwitterLogoBold role="img" />
                    <strong>Twitter (X)</strong>
                    <small>See my posts</small>
                </a>

                <a href="https://www.linkedin.com/in/youssef-lahssini-05583a16" target="_blank" class="external-link __linkedin">
                    <PhLinkedinLogoBold role="img" />
                    <strong>Linkedin</strong>
                    <small>See my profile</small>
                </a>
            </nav>
        </div>
    
        <figure class="about--image">
            <Image src={ME} width={493} height={560} alt="Youssef Lahssini" class="rounded-lg" />
        </figure>
    </div>
</section>
