---
import Header from '@components/layout/header.astro';
import Intro from '@components/intro/index.astro';
import '@fontsource/public-sans/200.css';
import '@fontsource/public-sans/300.css';
import '@fontsource/public-sans/700.css';
import '@fontsource/public-sans/900.css';
import '@assets/styles/base.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Youssef Lahssini Portfolio</title>
	</head>
	<body>
		<main class="relative h-screen overflow-y-auto scroll-smooth snap-mandatory snap-y scroll-pt-52 sm:scroll-pt-0">
			<Header />
			<Intro />
		</main>
	</body>
</html>
