.intro {
    @apply grid place-items-center h-screen px-12 pt-32;
}

h1.presentation {
    @apply transition-colors text-codgray-700 dark:text-codgray-200 font-black uppercase leading-none tracking-tighter w-full;
    font-size: clamp(3rem, -6rem + 16vw, 8rem);

    > span {
        @apply block;
    }
}

a.me {
    @apply block text-codgray-950 dark:text-white hover:cursor-none;

    &:hover > .bubble > span {
        @apply opacity-100 scale-100;
    }
}

.bubble {
    @apply size-32 fixed pointer-events-none;

    > span {
        @apply
        transition-all
        duration-300
        ease-in
        scale-0
        opacity-0
        text-sm
        font-light
        shadow-xl
        shadow-codgray-950/10
        normal-case
        rounded-full
        bg-trinidad-50/75
        text-codgray-950
        dark:bg-codgray-950/75
        dark:text-white
        dark:shadow-white/5
        backdrop-blur-md
        size-full
        px-4
        flex
        flex-col
        items-center
        justify-center
        tracking-normal
        text-center;
    }
}

.scroll-down {
    @apply w-full md:flex justify-center items-center md:flex-col py-2 animate-scroll-wheel;
}

.mouse {
    @apply border-codgray-950 dark:border-white border-2 rounded-t-full rounded-b-full w-5 h-7 mb-2 md:flex md:justify-center pt-1;
}

.wheel {
    @apply border-codgray-950 dark:border-white border-2 rounded-t-full rounded-b-full w-[6px] h-2 animate-bounce;
}

.scroll-down-text {
    @apply text-sm text-codgray-950 dark:text-white;
}