---
import '@assets/styles/menu.css'
---

<nav class="menu">
    <a href="#" class="__active">Home</a>
    <b>/</b>
    <a href="#">About me</a>
    <b>/</b>
    <a href="#">Experiences</a>
    <b>/</b>
    <a href="#">Projects</a>
    <b>/</b>
    <a href="#">Contact</a>
</nav>