---
import '@assets/styles/home/style.css';
---

<section class="home">
    <h1 class="presentation" role="heading">
        <span>Hello!</span>
        <span>My name is</span>
        <a id="me" href="#about" class="me">
            Youssef Lahssini<b>.</b>
        </a>
        <span>A passionate front-end</span>
        <span>developer</span>
    </h1>
</section>
