---
import PhPaperPlaneBold from '@components/icons/phPaperPlaneBold.astro';
import PhAt from '@components/icons/phAt.astro';
import PhUserCircle from '@components/icons/phUserCircle.astro';
import PhChatCenteredDotsLight from '@components/icons/phChatCenteredDotsLight.astro';
import PhCheckCircle from '@components/icons/phCheckCircle.astro';
import PhXCircle from '@components/icons/phXCircle.astro';
import PhXBold from '@components/icons/phXBold.astro';
import '@assets/styles/contact.css';
---

<section id="contact" class="bg-codgray-50 py-20 transition-colors dark:bg-codgray-900">
    <div
        data-notification
        class="fixed -right-20 top-6 z-10 w-64 rounded border-b-2 bg-white p-4 pl-12 opacity-0 shadow-lg transition-all duration-300"
    >
        <PhXCircle
            class:list="notification__icon__error size-6 hidden text-red-600 absolute inset-4"
        />
        <PhCheckCircle
            class:list="notification__icon__success size-6 hidden text-green-600 absolute inset-4"
        />
        <strong class="text-sm font-bold"></strong>
        <p class="text-xs font-light"></p>
        <button
            id="close__notification"
            type="button"
            class="absolute right-4 top-4 size-6 cursor-pointer text-codgray-600 transition-colors hover:text-codgray-950"
        >
            <PhXBold />
        </button>
    </div>

    <form
        id="contact__form"
        class="contact__form mx-auto max-w-7xl gap-24 px-12 py-20"
    >
        <h2 class="title">Contact</h2>
        <p class="py-3 pb-10 text-left text-base tracking-wide text-codgray-950 transition-colors dark:text-white">
            Although I’m not currently looking for any new opportunities, my inbox is always open.
        </p>

        <fieldset class="group grid grid-cols-2 gap-x-10 gap-y-4">
            <label for="email" class="relative z-10 block w-full">
                <PhAt class:list="text-codgray-950 absolute inset-4 size-6 dark:text-codgray-50" />
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Email address *"
                    required
                    pattern="[^@]+@[^@]+\\.[a-zA-Z]{2,10}"
                    autocomplete="off"
                    class="input__field w-full rounded border border-codgray-100 bg-white p-4 pl-12 text-codgray-950 caret-gray-500 outline-none transition-all duration-300 ease-in-out focus:border-codgray-300 dark:border-codgray-900 dark:bg-codgray-950 dark:text-codgray-50"
                />

                <span class="text-xs leading-none text-red-600 opacity-0 transition-opacity">The email address is required and must be valid</span>
            </label>

            <label for="name" class="relative z-20 block w-full">
                <PhUserCircle
                    class:list="text-codgray-950 absolute inset-4 size-6 dark:text-codgray-50"
                />
                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Full name or Company *"
                    required
                    autocomplete="off"
                    class="input__field w-full rounded border border-codgray-100 bg-white p-4 pl-12 text-codgray-950 caret-gray-500 outline-none transition-all duration-300 ease-in-out focus:border-codgray-300 dark:border-codgray-900 dark:bg-codgray-950 dark:text-codgray-50"
                />

                <span class="text-xs leading-none text-red-600 opacity-0 transition-opacity">Please insert your full name or company</span>
            </label>

            <label for="message" class="relative col-span-2 block">
                <PhChatCenteredDotsLight
                    class:list="text-codgray-950 absolute inset-4 size-6 dark:text-codgray-50"
                />
                <textarea
                    name="message"
                    placeholder="Your message *"
                    required
                    autocomplete="off"
                    class="input__field h-48 max-h-56 w-full resize-y rounded border border-codgray-100 bg-white p-4 pl-12 text-codgray-950 caret-gray-500 outline-none transition-all duration-300 ease-in-out focus:border-codgray-300 dark:border-codgray-900 dark:bg-codgray-950 dark:text-codgray-50"
                ></textarea>

                <span class="text-xs leading-none text-red-600 opacity-0 transition-opacity">Please insert your message</span>
            </label>
        </fieldset>

        <button
            id="contact__form__button"
            type="submit"
            class="group h-14 w-full max-w-96 gap-3 overflow-hidden rounded bg-trinidad-600 py-4 text-base font-medium text-white transition-colors hover:bg-trinidad-700 disabled:bg-trinidad-300"
        >
            <div data-loading class="hidden flex-row justify-center gap-2">
                <div class="size-2 animate-bounce rounded bg-codgray-50"></div>
                <div class="size-2 animate-bounce rounded bg-codgray-50 [animation-delay:-.3s]"></div>
                <div class="size-2 animate-bounce rounded bg-codgray-50 [animation-delay:-.5s]"></div>
            </div>

            <div data-content>
                <span class="relative block transition-transform duration-500 group-hover:-translate-y-24">Send message</span>
                <PhPaperPlaneBold
                    class:list="size-6 text-white relative translate-y-24 mx-auto transition-all duration-500 group-hover:-translate-y-6"
                />
            </div>
        </button>
    </form>
</section>

<script>
    const contactForm = document.querySelector('#contact__form') as HTMLFormElement;
    const notificationElement = document.querySelector('[data-notification]');
    const closeNotification = document.querySelector('#close__notification');
    const loadingElement = document.querySelector('[data-loading]');
    const contentElement = document.querySelector('[data-content]');
    const basinUrl = 'https://usebasin.com/f/39da2d81e0d2';

    contactForm?.addEventListener('submit', async (event) => {
        event.preventDefault();
        const contactFormButton = document.querySelector('contact__form__button');
        contactFormButton?.setAttribute('disabled', "true");

        loadingElement?.classList.remove('hidden');
        loadingElement?.classList.add('flex');
        contentElement?.classList.add('hidden');

        const formData = new FormData(event.target as HTMLFormElement);
        const values = Object.fromEntries(formData);

        const result = await fetch(basinUrl, {
            method: 'POST',
            headers: { 'Content-type': 'application/json' },
            body: JSON.stringify(values),
        });

        const notificationTitle = notificationElement?.querySelector('strong');
        const notificationDesc = notificationElement?.querySelector('p');

        if (result.status === 200) {
            notificationElement?.classList.add('notification__show__success');

            if (notificationTitle) {
                notificationTitle.textContent = 'Success';
            }

            if (notificationDesc) {
                notificationDesc.textContent = 'The message was sent succefully';
            }

            contactForm.reset();
        } else {
            notificationElement?.classList.add('notification__show__error');

            if (notificationTitle) {
                notificationTitle.textContent = 'Error';
            }

            if (notificationDesc) {
                notificationDesc.textContent = 'Something goes wrong, try again!';
            }
        }

        setTimeout(() => {
            notificationElement?.classList.remove(
                'notification__show__success',
                'notification__show__error',
            );
        }, 5000);

        loadingElement?.classList.remove('flex');
        loadingElement?.classList.add('hidden');
        contentElement?.classList.remove('hidden');

        contactFormButton?.removeAttribute('disabled');

        closeNotification?.addEventListener('click', () => {
            notificationElement?.classList.remove(
                'notification__show__success',
                'notification__show__error',
            );
        });
    });
</script>
