---

---

<footer class="fixed bottom-0 w-full z-[4] hidden md:flex justify-center items-center md:flex-col py-2 animate-scroll-wheel">
    <div class="config-transtion bg-codgray-950 dark:bg-white w-0.5 h-6 mb-3 hidden md:block"></div>
    <div class="config-transtion border-codgray-950 dark:border-white border-2 rounded-t-full rounded-b-full w-5 h-7 hidden md:flex md:justify-center pt-1">
        <div class="config-transtion border-codgray-950 dark:border-white border-2 rounded-t-full rounded-b-full w-[6px] h-2 animate-bounce"></div>
    </div>
</footer>
