.about__container {
    grid-template-columns: 1fr minmax(200px, 493px);
    grid-template-rows: 1fr;
    grid-template-areas: "text image";
}

.about__text {
    grid-area: text;
}

.about__image {
    grid-area: image;
}

@media (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        grid-template-areas: "text"
        "image";
    }
}

@media (prefers-reduced-motion: no-preference) {
    .about__image {
        align-items: center;
    }

    @supports (animation-timeline: scroll()) {
        .about__image {
            align-items: start;

            > img {
                animation: parrallax linear forwards;
                animation-timeline: scroll(root);
                transform: translateY(-40%);
            }
        }
    
        @keyframes parrallax {
            to {
                transform: translateY(calc(75% + 0.5rem));
            }
        }

        @media (max-width: 1024px) {
            .about__image > img {
                transform: translateY(-55%);
            }
        }
    }
}

a.external__link {
    &.__github:hover, &.__github:hover > svg {
        color: #7e22ce;
    }

    &.__codepen:hover, &.__codepen:hover > svg {
        color: #ea580c;
    }

    &.__twitter:hover, &.__twitter:hover > svg {
        color: #2563eb;
    }

    &.__linkedin:hover, &.__linkedin:hover > svg {
        color: #06b6d4;
    }
}
