@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

html, body {
    font-family: 'Public Sans', Sans-serif;
    @apply w-full;
}

body {
    @apply min-w-80 text-base;
}

.wrapper {
    @apply w-10/12 max-w-5xl;
}

.title {
    @apply
    relative
    uppercase
    pb-7
    font-black
    text-4xl
    flex
    items-center
    text-codgray-950
    gap-4
    w-full
    before:content-['//']
    after:block
    after:h-px
    after:w-1/3
    after:bg-codgray-950
    dark:text-white
    dark:after:bg-white
}

/* T R A N S I T I O N   T O   D A R K */
.config-transition {
    @apply transition-colors duration-300 ease-in-out
}

.bg-transition-dark {
    @apply config-transition dark:bg-codgray-900 bg-codgray-50
}

.bg-transition-dark2 {
    @apply config-transition dark:bg-codgray-950 bg-white
}

.before-bg-transition-dark {
    @apply before:transition-colors before:duration-300 before:ease-in-out before:dark:bg-codgray-900 before:bg-codgray-50
}

.after-bg-transition-dark {
    @apply after:transition-colors after:duration-300 after:ease-in-out after:dark:bg-codgray-900 after:bg-codgray-50
}


.border-transition-dark {
    @apply config-transition ease-in-out dark:border-codgray-900 border-slate-50
}

.text-transition-dark {
    @apply config-transition dark:text-gray-700 text-slate-50
}
/* T R A N S I T I O N   T O   D A R K */

.svg-icon {
    @apply inline-block align-middle transition-all duration-200 ease-in-out stroke-black dark:stroke-slate-50 hover:-translate-y-1;
}

.mobile-button {
    @apply
    block
    w-full
    h-0.5
    transition-all
    duration-500
    ease-in-out
    bg-opacity-100
    bg-black
    dark:bg-slate-50
    group-hover:bg-gray-500
    before:block
    before:w-1/2
    before:h-0.5
    before:-translate-y-2
    before:mx-auto
    before:transition-all
    before:duration-500
    before:ease-in-out
    before:bg-black
    dark:before:bg-slate-50
    group-hover:before:bg-gray-500
    after:block
    after:w-1/2
    after:h-0.5
    after:translate-y-1.5
    after:mx-auto
    after:transition-all
    after:duration-500
    after:ease-in-out
    after:bg-black
    dark:after:bg-slate-50
    group-hover:after:bg-gray-500
}

.mobile-button.__clicked {
    @apply
    bg-black
    dark:bg-slate-50
    dark:before:bg-slate-50
    dark:after:bg-slate-50
    group-hover:dark:bg-gray-500
    dark:group-hover:before:bg-gray-500
    dark:group-hover:after:bg-gray-500
    bg-opacity-0
    dark:bg-opacity-0
    group-hover:bg-opacity-0
    group-hover:dark:bg-opacity-0
    before:rotate-45 before:w-full
    before:-translate-x-0
    before:translate-y-0
    after:-rotate-45
    after:w-full
    after:-translate-x-0
    after:-translate-y-0.5
}
