@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --success: theme(colors.green.600);
        --error: theme(colors.red.600)
    }
}

* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

.header__odd {
    @apply !bg-codgray-50/75 dark:!bg-codgray-900/75;

    [data-menu] > button {
        @apply text-codgray-300 dark:text-codgray-300 hover:text-codgray-950 dark:hover:text-white;

        &.menu__active {
            @apply text-codgray-950 dark:text-white;
        }
    }
}

.menu__active {
    @apply font-black !text-codgray-950 dark:!text-white;
}

.locale__active {
    @apply text-codgray-950 font-bold hover:text-codgray-950 dark:text-white dark:hover:text-white;
}

.title {
    @apply
    relative
    uppercase
    pb-7
    font-black
    text-4xl
    flex
    items-center
    text-codgray-950
    leading-none
    gap-4
    w-full
    before:content-['//']
    after:hidden
    after:h-px
    after:w-1/3
    after:bg-codgray-950
    dark:text-white
    dark:after:bg-white
    md:after:block;
    font-size: clamp(1.85rem, 1.062rem + 0.99vw, 2.25rem);
}
