.contact__form:invalid button {
    background-color: black;
    pointer-events: all;
}

.contact__form:valid button {
    pointer-events: all;
}

.input__field:invalid:not(:placeholder-shown) {
    border-color: var(--error);

    & + span {
        opacity: 100;
    }
}

.input__field:valid:not(:placeholder-shown) {
    border-color: var(--success);

    & + span {
        opacity: 0;
    }
}

.notification__show__success, .notification__show__error {
    opacity: 100;
    right: 1rem;
}

.notification__show__success {
    border-bottom: 2px solid var(--success);

    > svg.notification__icon__success {
        display: block;
    }

    > strong {
        color: var(--success);
    }
}

.notification__show__error {
    border-bottom: 2px solid var(--error);

    > svg.notification__icon__error {
        display: block;
    }

    > strong {
        color: var(--error);
    }
}
