.projects {
    @apply px-12 py-20 transition-colors bg-white dark:bg-codgray-950;
}

.projects--container {
    @apply grid gap-20 grid-flow-row max-w-7xl mx-auto;
}

.projects--grid {
    @apply grid gap-20 grid-cols-2;
}

.project--cell {
    @apply rounded-xl bg-codgray-50 dark:bg-codgray-900 p-6 h-max;

    > figure {
        @apply rounded-xl block bg-white dark:bg-codgray-950 overflow-hidden mb-4;

        &:before {
            --size: 30px;
            --radius: 6px;
            --bg: #fff;

            display: block;
            content: "";
            height: var(--size);
            background: radial-gradient(circle, #ef0303 var(--radius), transparent var(--radius)) no-repeat border-box,
                radial-gradient(circle, #ffd105 var(--radius), transparent var(--radius)) no-repeat border-box,
                radial-gradient(circle, #02f202 var(--radius), transparent var(--radius)) no-repeat border-box;
            background-size: var(--size) var(--size), var(--size) var(--size), var(--size) var(--size);
            background-position: calc(100% - var(--size) * 0) 0, calc(100% - var(--size) * 0.6) 0, calc(100% - var(--size) * 1.2) 0;
            @apply transition-colors bg-white dark:bg-codgray-950
        }
    }

    > h4 {
        @apply text-trinidad-600 font-bold text-2xl;
    }

    > p {
        @apply transition-colors text-codgray-700 dark:text-codgray-200 text-lg tracking-wide font-light pb-4;
    }

    > span {
        @apply transition-colors inline-block border border-codgray-100 bg-white text-codgray-900 dark:border-codgray-950 dark:bg-codgray-900 dark:text-codgray-50 rounded px-2 py-1 text-sm  mr-2 last:mr-0;
    }
}